
<!DOCTYPE html>
<html lang="en">

<head>
    {{> head }}
</head>

<body>
    
    {{> navbar }}


    <div>
        <div style="text-align: center">
            <h1>About NodeJS!</h1>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero, perspiciatis fugiat consectetur, expedita voluptatibus aliquam quasi voluptatum delectus doloribus iusto magni. Quis culpa tenetur doloribus sapiente! Autem sequi aperiam iusto.
            </p>
            <img src="assets/img/node-js-main.jpg" class="img-thumbnail" style="border: 0ch">
        </div>
    </div>

    <footer>
        {{> footer }}
    </footer>

    {{> scripts }}

</body>

</html>